*
{
    padding: 0;
    margin: 0;
}

html,body
{
    background-color: gray;
}

.navbar
{
    background-color: rgb(159, 159, 159);
    color: black;
    display: flex;
    justify-content: space-around;
    border-style: solid;

}

.navlogo
{
    border-style: solid;
    color: green;
    margin-top: 10px;
    height: 40px;
    
}

.nav-list
{
    border-style: solid;
    list-style-type: none;
}

.nav-list .list-item
{
    border-style: solid;
    display: inline-block;
    padding: 20px 10px;
}

.navbar a
{
    border-style: solid;
    color: rgb(152, 56, 56);
    text-decoration: none;
}

.navbar a:hover
{
    color: red;
}

.navbar a:active
{
    background-color: black;    
}

