body, html
{
    background: rgb(26, 26, 26);
}

.logo
{
    width: 40px;
    position: fixed;
    left: 5px;
    top: 13px;
}

.navbar
{
    position: fixed;
    right: 10px;
    top: 10px;
    height: 100px;
    word-spacing: 20px
}

.navbar a
{
    font-size: 40px;
    color: white;
    text-decoration: none;
}
.header header
{
    background-image: linear-gradient(rgb(69, 69, 69), rgb(26, 26, 26));
}