@font-face {
    font-family: Candy;
    src: url(Fonts/CandyBeans.ttf);
}
@font-face {
    font-family: Strawberry;
    src: url(Fonts/Strawberry\ Muffins\ Demo.ttf);
}
@font-face {
    font-family: Rose;
    src: url(Fonts/RosesareFF0000.ttf);
}
@font-face {
    font-family: Karma;
    src: url(Fonts/KarmaFuture.ttf);
}
@font-face {
    font-family: Minecraft;
    src: url(Fonts/Minecraft/Minecraft-Regular.otf);
}
body
{
    background-color: #282828;
}

.Logo
{
    width: 120px;
}
.Nav_Bar li
{
    display: inline-block;
    
}
.Nav_Bar ul li a
{
    text-decoration: none;
    color: white;
}
.Yousup_Village
{
    font-family: Minecraft;
    font-size: 300%;
    color: white;
}

